# HUD Fair Market Rent Data Exploration

Interactive exploration of FMR data loaded into Railway PostgreSQL database.

In [ ]:
# Setup: Import libraries and connect to database
import os
import psycopg2
import pandas as pd
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Styling
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (12, 6)

# Configure pandas display
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 20)

print('âœ… Libraries imported')

In [ ]:
# Connection: Set your Railway PostgreSQL connection string
# Get from: Railway dashboard â†’ PostgreSQL â†’ Connect tab

DATABASE_URL = "postgresql://user:password@host:port/database"

# Create SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Test connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT COUNT(*) FROM areas"))
        count = result.fetchone()[0]
        print(f"âœ… Connected! Database has {count:,} areas")
except Exception as e:
    print(f"âŒ Connection failed: {e}")
    print("\nMake sure to update DATABASE_URL with your Railway connection string")

## Overall Statistics

In [ ]:
# Query overall statistics
stats = pd.read_sql("SELECT * FROM overall_stats", engine)
print(stats)

# Extract values for easy reference
stats_dict = stats.iloc[0].to_dict()
print(f"\nTotal Areas: {stats_dict['total_areas']:,}")
print(f"Metro Areas: {stats_dict['metro_count']:,}")
print(f"Counties: {stats_dict['county_count']:,}")
print(f"\n2-Bedroom Rent:")
print(f"  Min: ${stats_dict['min_two_br']:,}")
print(f"  Max: ${stats_dict['max_two_br']:,}")
print(f"  Avg: ${stats_dict['avg_two_br']:,.0f}")
print(f"  Median: ${stats_dict['median_two_br']:,.0f}")

## Most and Least Expensive Areas

In [ ]:
# Most expensive 2-bedroom areas
most_expensive = pd.read_sql("""
    SELECT
        name,
        state,
        type,
        studio_rent,
        one_bedroom_rent,
        two_bedroom_rent,
        three_bedroom_rent
    FROM areas_with_rents
    WHERE two_bedroom_rent > 0
    ORDER BY two_bedroom_rent DESC
    LIMIT 15
""", engine)

print("ðŸ† Most Expensive 2-Bedroom Areas:\n")
print(most_expensive.to_string(index=False))

In [ ]:
# Least expensive 2-bedroom areas
least_expensive = pd.read_sql("""
    SELECT
        name,
        state,
        type,
        studio_rent,
        one_bedroom_rent,
        two_bedroom_rent,
        three_bedroom_rent
    FROM areas_with_rents
    WHERE two_bedroom_rent > 0
    ORDER BY two_bedroom_rent ASC
    LIMIT 15
""", engine)

print("ðŸ’° Least Expensive 2-Bedroom Areas:\n")
print(least_expensive.to_string(index=False))

## Analysis by State and Type

In [ ]:
# Pivot by state and type
pivot = pd.read_sql("SELECT * FROM pivot_by_state_type", engine)
print(f"Total rows: {len(pivot)}")
print("\nSample by state (CA, TX, NY):")
print(pivot[pivot['state'].isin(['CA', 'TX', 'NY'])].to_string(index=False))

In [ ]:
# States by total area count
states = pd.read_sql("""
    SELECT
        state,
        COUNT(*) as total_areas,
        COUNT(CASE WHEN type='metro' THEN 1 END) as metros,
        COUNT(CASE WHEN type='county' THEN 1 END) as counties,
        AVG(two_bedroom_rent)::INT as avg_2br
    FROM areas_with_rents
    WHERE two_bedroom_rent > 0
    GROUP BY state
    ORDER BY total_areas DESC
""", engine)

print("States by area count:\n")
print(states.head(15).to_string(index=False))

## Visualizations

In [ ]:
# Distribution of 2-bedroom rents
rent_data = pd.read_sql("""
    SELECT two_bedroom_rent FROM areas_with_rents
    WHERE two_bedroom_rent > 0
""", engine)

plt.figure(figsize=(12, 6))
plt.hist(rent_data['two_bedroom_rent'], bins=50, edgecolor='black', alpha=0.7, color='steelblue')
plt.axvline(rent_data['two_bedroom_rent'].mean(), color='red', linestyle='--', label=f"Mean: ${rent_data['two_bedroom_rent'].mean():,.0f}")
plt.axvline(rent_data['two_bedroom_rent'].median(), color='green', linestyle='--', label=f"Median: ${rent_data['two_bedroom_rent'].median():,.0f}")
plt.xlabel('Monthly Rent ($)')
plt.ylabel('Number of Areas')
plt.title('Distribution of 2-Bedroom Fair Market Rents')
plt.legend()
plt.grid(True, alpha=0.3)
plt.show()

In [ ]:
# Studio vs 2-Bedroom correlation
comparison = pd.read_sql("""
    SELECT studio_rent, two_bedroom_rent FROM areas_with_rents
    WHERE studio_rent > 0 AND two_bedroom_rent > 0
""", engine)

plt.figure(figsize=(10, 8))
plt.scatter(comparison['studio_rent'], comparison['two_bedroom_rent'], alpha=0.6, s=30, color='coral')
plt.xlabel('Studio Rent ($)')
plt.ylabel('2-Bedroom Rent ($)')
plt.title('Studio vs 2-Bedroom Fair Market Rents')
correlation = comparison['studio_rent'].corr(comparison['two_bedroom_rent'])
plt.text(0.05, 0.95, f'Correlation: {correlation:.3f}', transform=plt.gca().transAxes, bbox=dict(boxstyle='round', facecolor='white', alpha=0.8))
plt.grid(True, alpha=0.3)
plt.show()

print(f"\nCorrelation coefficient: {correlation:.3f}")

In [ ]:
# Top 10 states by average rent
top_states = pd.read_sql("""
    SELECT
        state,
        AVG(two_bedroom_rent)::INT as avg_rent
    FROM areas_with_rents
    WHERE two_bedroom_rent > 0
    GROUP BY state
    ORDER BY avg_rent DESC
    LIMIT 10
""", engine)

plt.figure(figsize=(10, 6))
plt.barh(top_states['state'], top_states['avg_rent'], color='steelblue')
plt.xlabel('Average 2-Bedroom Rent ($)')
plt.title('Top 10 States by Average 2-Bedroom Rent')
plt.grid(True, alpha=0.3, axis='x')
plt.tight_layout()
plt.show()

## Data Exploration Queries

Add your custom queries and analysis below:

In [ ]:
# Example: Analyze specific state
state = 'CA'  # Change to any state

state_data = pd.read_sql(f"""
    SELECT
        name,
        type,
        studio_rent,
        one_bedroom_rent,
        two_bedroom_rent,
        three_bedroom_rent,
        four_bedroom_rent
    FROM areas_with_rents
    WHERE state = '{state}' AND two_bedroom_rent > 0
    ORDER BY two_bedroom_rent DESC
""", engine)

print(f"Areas in {state}:")
print(state_data.to_string(index=False))